In [19]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [20]:
# 1. Swapping Variables
a = 100
b = 99

a, b = b, a

a, b

(99, 100)

In [25]:
# 2.String Formatting
number = 10
name = 'Leo Messi'
age = 33
club = 'FCB'
height = 169.00

print('Player info: number %d, name %s, age %d, club %s, height %.2f.' % 
     (number, name, age, club, height))

print(f'Player info: number {number}, name {name}, age {age}, club {club}, height {height}.')

Player info: number 10, name Leo Messi, age 33, club FCB, height 169.00.
Player info: number 10, name Leo Messi, age 33, club FCB, height 169.0.

In [45]:
# 3.Yield Statement

def fibonacci(n):
    a = 0
    b = 1
    nums = []
    for _ in range(n):
        nums.append(a)
        a, b = b, a + b
    return nums


def fibonacci(n):
    a = 0
    b = 1
    for _ in range(n):
        yield a
        a, b = b, a + b

for i in fibonacci(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [43]:
fibonacci(2)

In [4]:
# 4.List Comprehension
alpha = ["a", "b", "d", "e", "f", "g"]
alpha

['a', 'b', 'd', 'e', 'f', 'g']

In [5]:
alpha_upper = [x.upper() for x in alpha]
alpha_upper

['A', 'B', 'D', 'E', 'F', 'G']

In [7]:
filter_alpha = [x for x in alpha if x.startswith('a')]
filter_alpha

['a']

In [9]:
# 5.enumerate function
for idx, item in enumerate(alpha):
    print(idx, item)

0 a
1 b
2 d
3 e
4 f
5 g

In [10]:
# 6.Looping Backwards
for idx, item in enumerate(reversed(alpha)):
    print(idx, item)

0 g
1 f
2 e
3 d
4 b
5 a

In [12]:
# 6.Looping in Sorted Order
for idx, item in enumerate(sorted(alpha)):
    print(idx, item)

0 a
1 b
2 d
3 e
4 f
5 g

In [2]:
# 7.merge dict
a = {"Messi":10, "Alexia":27, "Pique":3}
b = {"Pederi":16, "Fati":22, "Alexia":27}

# unpacking operating
c = {**a, **b}
c

{'Messi': 10, 'Alexia': 27, 'Pique': 3, 'Pederi': 16, 'Fati': 22}

In [14]:
# 8.Ternary Operator
x = 100

y = 'high' if x > 85 else 'common'
y

'high'

In [15]:
# 9.Sequence Unpacking
name = 'Leo Messi'
first_name, last_name = name.split(' ')
first_name, last_name

('Leo', 'Messi')

In [18]:
# 10.With Statement
with open('test.txt', 'r') as f:
    s = f.readlines()
    for line in s:
        print(line)
        for item in line:
            print(item)

10 Leo Messi

1
0

L
e
o

M
e
s
s
i


03 Pique

0
3

P
i
q
u
e